@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: #aae9d2 hsla(217, 33%, 17%, 0);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: hsla(217, 33%, 17%, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #aae9d2;
    border-radius: 5px;
    border: 2px solid #022c22;
}
@layer base {

h1 {
        @apply pb-0 text-6xl font-medium;
    }

h2 {
    @apply pb-3 text-4xl;
}

h3 {
    @apply pb-2 text-2xl font-medium;
}

.h3WE {
    @apply w-full pb-2 mt-5 mb-5 text-3xl font-medium border-b border-emerald-950/30;
    }

h4 {
    @apply pb-1 text-xl font-medium;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-sm font-light;
}

p {
    @apply text-lg;
}

.date {
    @apply font-light;
}

.hover-btn {
    @apply transition-all duration-200 rounded-md hover:ring-2 hover:ring-offset-2 hover:ring-emerald-500 hover:ring-offset-emerald-50;
    }

.liContacts {
    @apply flex flex-row gap-2 items-center px-2 py-0.5 backdrop-blur-md;
}

.loProjects {
    @apply px-1 text-xs rounded-full ring-1 ring-emerald-600 bg-emerald-100 text-emerald-950;
    }

.liTechSkills {
    @apply px-2 py-0.5 rounded-md bg-emerald-200/50 backdrop-blur-md cursor-default;
    }
                                }
                                @tailwind components;
                                @tailwind utilities;